@import "tailwindcss";

@theme {
  --font-display: "Inter", "sans-serif";
  --animate-spin-slow: spin 60s linear infinite;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Prevent scrolling on the main sky */
  background: #000;
}